.configurator-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 50px;
}

.drag-container {
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}
.drag-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.drag-area h2 {
    color: black;
    margin-bottom: 15px;
    text-align: center;
}
.draggable-list {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    max-height: 87vh;
    min-height: 87vh;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.draggable-list .item {
    list-style: none;
    display: flex;
    cursor: move;
    background: #fff;
    align-items: center;
    border-radius: 5px;
    padding: 10px 13px;
    margin-bottom: 11px;
    border: 1px solid #ccc;
    justify-content: space-between;
}
.item .details {
    display: flex;
    align-items: center;
}
.item .details img {
    height: 43px;
    width: 43px;
    pointer-events: none;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 50%;
}
.item .details span {
    font-size: 1.13rem;
}
.item i {
    color: #474747;
    font-size: 1.13rem;
}
.item.dragging {
    opacity: 0.6;
}
.item.dragging :where(.details, i) {
    opacity: 0;
}
.target-list:empty::before {
    content: "Ziehe Items hierher";
    color: #ccc;
    text-align: center;
    line-height: 260px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-header {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.preview-body {
    flex: 1;
    border: 1px solid #ccc;
}