@page "/Configurator"
@page "/Configurator/{Id}"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<div class="configurator-container">
    <div class="drag-container">
        <div class="drag-area">
            <h3>Components</h3>
            <ul class="source-list draggable-list">
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Kristina Zasiadko</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Gabriel Wilson</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Ronelle Cesicon</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>James Khosravi</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Annika Hayden</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Donald Horton</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Kristina Zasiadko</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Gabriel Wilson</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Ronelle Cesicon</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Kristina Zasiadko</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Gabriel Wilson</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Ronelle Cesicon</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Kristina Zasiadko</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Gabriel Wilson</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
                <li class="item" draggable="true">
                    <div class="details">
                        <span>Ronelle Cesicon</span>
                    </div>
                    <i class="uil uil-draggabledots"></i>
                </li>
            </ul>
        </div>
        <div class="drag-area">
            <h3>Configuration</h3>
            <ul class="target-list draggable-list">

            </ul>
        </div>
    </div>
    <div class="preview-container">
        <div class="preview-header">
            <span>Preview</span>
        </div>
        <div class="preview">
            
        </div>
    </div>
</div>

@code {

    private bool _initialized = false;

    [Parameter] public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;
            await JSRuntime.InvokeVoidAsync("initDragDrop");
        }
    }

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.Selector = dropItem.DropzoneIdentifier;
    }

    private List<DropItem> _items = new()
    {
        new DropItem() { Name = "Item 1", Selector = "1" },
        new DropItem() { Name = "Item 2", Selector = "1" },
        new DropItem() { Name = "Item 3", Selector = "1" },
        new DropItem() { Name = "Item 4", Selector = "2" },
        new DropItem() { Name = "Item 5", Selector = "2" },
    };

    public class DropItem
    {
        public string Name { get; init; }
        public string Selector { get; set; }
    }

}