.home-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "section-draft"
        "section-finished";
    padding: 10px;
}

.section-draft {
    
}

.section-finished {
    
}