@page "/Configurator"
@using INIManager.Components.Database
@inject DbManager DbManager

@if (isConnected)
{
    <h1>Connected</h1>
}
else
{
    <h1>Not connected</h1>
}

@code {
    bool isConnected;
    protected override async Task OnInitializedAsync()
    {
        isConnected = await DbManager.TestConnectionAsync();
        if (isConnected)
            Console.WriteLine("Datenbankverbindung erfolgreich!");
        else
            Console.WriteLine("Datenbankverbindung fehlgeschlagen!");
    }
}