@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudDialog />
<MudSnackbarProvider />
<RadzenComponents />
<RadzenNotification />
<RadzenDialog />
<RadzenTooltip />
<RadzenContextMenu />

<div class="page">
    <div>
        <NavMenu @rendermode="InteractiveServer"/>
    </div>
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>