@using INIManagerServer.Components.Models
@using INIManagerServer.Components.Services
@inject ConfigurationDraftService _configurationDraftService
@inject NavigationManager _navigationManager

<aside class="sidebar">
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <a href="/" class="header-logo">
            <h3>IniManager</h3>
        </a>

    </header>
    <nav class="sidebar-nav">
        <!-- Primary top nav -->
        <ul class="nav-list primary-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <span class="nav-icon material-symbols-rounded">dashboard</span>
                    <span class="nav-label">Home</span>
                </a>
                <span class="nav-tooltip">Home</span>
            </li>
            <li class="nav-item">
                <a @onclick="() => NavigateToConfigurator()" class="nav-link">
                    <span class="nav-icon material-symbols-rounded">insert_chart</span>
                    <span class="nav-label">Configurator</span>
                </a>
                <span class="nav-tooltip">Configurator</span>
            </li>
            <li class="nav-item">
                <a href="settings" class="nav-link">
                    <span class="nav-icon material-symbols-rounded">settings</span>
                    <span class="nav-label">Settings</span>
                </a>
                <span class="nav-tooltip">Settings</span>
            </li>
        </ul>
        <!-- Secondary bottom nav -->
        @* <ul class="nav-list secondary-nav"> *@
        @*     <li class="nav-item"> *@
        @*         <a href="#" class="nav-link"> *@
        @*             <span class="nav-icon material-symbols-rounded">account_circle</span> *@
        @*             <span class="nav-label">Profile</span> *@
        @*         </a> *@
        @*         <span class="nav-tooltip">Profile</span> *@
        @*     </li> *@
        @*     <li class="nav-item"> *@
        @*         <a href="#" class="nav-link"> *@
        @*             <span class="nav-icon material-symbols-rounded">logout</span> *@
        @*             <span class="nav-label">Logout</span> *@
        @*         </a> *@
        @*         <span class="nav-tooltip">Logout</span> *@
        @*     </li> *@
        @* </ul> *@
    </nav>
</aside>

@code {
    private int _id;
    Configuration _configuration = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    
    async Task NavigateToConfigurator()
    {
        do
        {
            do
            {
                _id = Random.Shared.Next(1, 1000);
            } while ((await _configurationDraftService.ReadConfigurationById(_id)).Id == _id);

            var result = await _configurationDraftService.CreateConfiguration(_id);

            if (result)
            {
                _navigationManager.NavigateTo($"Configurator/{_id}");
                break;
            }
        } while (true);
    }
}